//= require angular-material
//= require_tree .
//= require_self
body {
  min-width: 1000px;
}

#instasearch {
  padding: 10px;

  #footer {
    padding: 15px;
    text-align: center;
  }

  #content {
    padding: 10px;
  }

  #search {
    #search_query{
      font-size: 40px;
    }

    #search_label {
      font-size: 40px;
      margin-bottom: -15px;
    }
  }

  #results {

    #users-results, #tags-results {
      a {
        padding: 5px;
        text-decoration: none;
        font-size: 40px;
        color: #5759DA;
        &:hover {
          background: rgba(250, 248, 85, 0.25);
        }
      }
    }

    #users-results {
      border-right: 1px solid #DEDEDE;
    }

    h1 {
      padding-left: 10px;
    }

    #tags-results {

      .name {
        font-size: 30px;
      }
    }

    .result {
      background: #F7F7F7;
      margin: 5px;
      padding: 20px;

    }
  }

}